{% extends 'streaming/base.html' %}
{% load static %}
    

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'streaming-home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{courseCat}}</li>
        </ol>
    </nav>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for course in courses %}
            <div class="">
                <a href="{% url 'streaming-course' course.id %}">
                    <div class="col">
                        <div class="card">
                            <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="..."> 
                            <div class="card-body">
                            <h5 class="card-title">{{course.name}}</h5>
                            <p class="card-text">{{course.description}}</p>
                            <p class="card-text"><small class="text-muted">Price: {{course.price}}</small></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
      </div>
{% endblock content %}
