{% extends 'streaming/base.html' %}
{% load static %}
    

{% block content %}
<h1>Enrolled courses</h1>

{% for course in enrolled %}
    <div class="border border-secondary p-3 mb-4">
        <p class="display-4">Course: {{course.course.name}}</p>
        <p>Category: {{course.course.courseCategory}}</p>
        <p>Starting: 
            {% for x in subsrciption %}
                {% if x.enrollment == course %}    
                    {{x.date}}
                {% endif %}
            {% endfor %}
        </p>
        <p>Expires: 
            {% for x in subsrciption %}
                {% if x.enrollment == course %}    
                    {{x.expire}}
                {% endif %}
            {% endfor %}
        </p>
        <a href="{% url 'lessons-list' course.course.id %}">Go To Lessons -></a>
    </div>
    
{% endfor %}

{% endblock content %}